.shadow{
    text-shadow:0px 0px 8px #FF3E3E;
}
.shadow-white{
    text-shadow:0px 0px 4px #FFFFFF;
}
.border-tc {
    position: relative;
    border: 1px solid transparent;
    border-radius: 16px;
    background: radial-gradient(
        763.89% 1810.97% at -18.02% 50%,
        #010101 0%,
        #454545 100%
    );
    background-clip: padding-box;
}

.border-tc::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(270deg, #f93636 0%, #ff6e6e 100%);
    content: "";
    z-index: -1;
    border-radius: 16px;
}

.steps-container {
    color: rgba(128, 128, 128, 0.5);
}

.steps-container .current .text {
    color: white;
}

.steps-container .before .text {
    color: white !important;
}

/* .steps-container .white-cover {
    transition: all 0.5s ease-in-out;
} */

.steps-container .current .white-cover {
    opacity: 0;
}

.steps-container .before .white-cover {
    opacity: 0;
}

.steps-container .step {
    transition: all 0.3s !important;
}

.ticket-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark-free {
    position: absolute;
    top: 108px;
    left: 78px;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid #f4f4f4;
    border-radius: 50%;
}

.ticket-container input:checked ~ .checkmark-free {
    background: linear-gradient(270deg, #f93636 0%, #ff6e6e 100%);
}

.checkmark-free:after {
    content: "";
    position: absolute;
    display: none;
}

.ticket-container input:checked ~ .checkmark-free:after {
    display: block;
}

.ticket-container .checkmark-free:after {
    top: 4.5px;
    left: 4.2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: radial-gradient(
        763.89% 1810.97% at -18.02% 50%,
        #010101 0%,
        #454545 100%
    );
}

.checkmark-pay {
    position: absolute;
    top: 242px;
    left: 78px;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid #f4f4f4;
    border-radius: 50%;
}

.ticket-container input:checked ~ .checkmark-pay {
    background: linear-gradient(270deg, #f93636 0%, #ff6e6e 100%);
}

.checkmark-pay:after {
    content: "";
    position: absolute;
    display: none;
}

.ticket-container input:checked ~ .checkmark-pay:after {
    display: block;
}

.ticket-container .checkmark-pay:after {
    top: 4.5px;
    left: 4.2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: radial-gradient(
        763.89% 1810.97% at -18.02% 50%,
        #010101 0%,
        #454545 100%
    );
}

.requirements .fading-cover {
    background: linear-gradient(180deg, #ae202000 72.22%, #fafaff 99.78%);
    opacity: 0.8;
    width: 100%;
    bottom: 0;
}

input[type="file"],
input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}

#input-proof {
    height: 3rem;
}

@media (min-width: 1024px) {
    .content-right {
        margin-left: 33vw;
    }
}

@media (max-width: 640px) {
    .form-container {
        width: 90vw;
    }
}

@media screen and (max-width: 415px) {
    .checkmark-free {
        top: 111px;
        left: 40px;
    }

    .checkmark-pay {
        top: 245px;
        left: 40px;
    }
}
