.font-error {
    font-size: 8px;
}
.sent-text{
    font-size: 2.7rem;
}
.max-width{
    width: 13rem;
}
@media only screen and (min-width: 768px) {
    .max-width{
    width: 20rem;
    }
    .sent-text{
        font-size: 4rem;
    }
}
@media only screen and (min-width: 1024px) {
    .sent-text{
        font-size: 5.1rem;
    }
    .max-width{
    width: 25rem;
    }
}

@media only screen and (min-width: 1280px) {
    .width-desktop{
        width: 30rem;
    }
    .sent-text{
        font-size: 6.6rem;
    }.max-width{
    width: 30rem;
    }
}
