.browser-float {
    transform: translatey(0px);
    animation: bfloat 10s ease-in-out infinite;
}

@keyframes bfloat {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.iora {
    width: 400px;
    height: 400px;
}

@media only screen and (max-width: 913px) {
    .iora {
        width: 375px;
        height: 375px;
    }
}

@media only screen and (max-width: 541px) {
    .iora {
        width: 175px;
        height: 175px;
    }
}
